body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
    font-family: timer;
    src: url(alarm-clock.ttf);
}

@font-face {
    font-family: texts;
    src: url(KodeMono-VariableFont_wght.ttf);
}

.row-50{
    display: flex;
    height: 50%;
    width: 80%;
    margin: 0 10%;
    align-items: center;
    justify-content: center;
}

.col-50{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;  
}

.Contentness-meter-text{
    color: red;
    margin-bottom: 30px;
    font-size: 300%;
    font-family: texts;
}

.Contentness-meter-container{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    background-color: gray;
    justify-content: left;
    align-items: center;
}

.Contentness-meter{
    transition: width 1s ease-in-out;
    height: 100%;
    width: 50%;
    background-color: red;
}

.timer{
    color: red;
    font-size: 1000%;
    font-family: timer;
}

.timerExplaination{
    color: red;
    margin-bottom: 30px;
    font-size: 150%;
    font-family: texts;
}